@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
  margin: 0;
  font-family: 'Jost';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;

}

code {
  font-family: 'Jost',
    monospace;
}
